<ion-side-menus enable-menu-with-back-views="false">
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button button-icon icon ion-android-arrow-back flat"></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-android-menu flat"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button  class="button button-icon icon ion-android-more-vertical flat"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
        <ion-nav-view name="viewContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu expose-aside-when="large" side="left" class="side-menu">

        <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title">Side Menu</h1>
        </ion-header-bar>

        <ion-content class="has-header">
          <div class="list">
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home" nav-transition="none">
                  <i class="icon ion-home coloroured"></i>
                  Home
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.signup" nav-transition="none">
                  <i class="icon ion-compose coloroured"></i>
                  Sign Up
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.login" nav-transition="none">
                  <i class="icon ion-person coloroured"></i>
                  Login
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.products" nav-transition="none">
                  <i class="icon ion-android-cart coloroured"></i>
                  Products
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings" nav-transition="none">
                  <i class="icon ion-settings coloroured"></i>
                  Settings
              </a>
          </div>
        </ion-content>
    </ion-side-menu>

    <!-- Right menu -->
    <ion-side-menu side="right" class="side-menu">

        <ion-header-bar align-title="center" class="bar-positive">
            <h1 class="title">Side Menu</h1>
        </ion-header-bar>

        <ion-content class="has-header">
            <div class="list">
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home">
                    <i class="icon ion-home"></i>
                    Home
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings">
                    <i class="icon ion-settings"></i>
                    Settings
                </a>
            </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
