<ion-side-menus enable-menu-with-back-views="false">
    <!-- Center content -->
    <ion-side-menu-content>
      <ion-nav-bar align-title="center">
        <ion-nav-back-button class="button button-icon icon ion-android-arrow-back flat"></ion-nav-back-button>
        <ion-nav-buttons side="left">
          <button menu-toggle="left" class="button button-icon icon ion-android-menu flat"></button>
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
          <button  class="button button-icon icon ion-android-search flat"></button>
          <button  class="button button-icon icon ion-android-more-vertical flat"></button>
        </ion-nav-buttons>
      </ion-nav-bar>
        <ion-nav-view name="viewContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu expose-aside-when="large" side="left" class="dark side-menu">

        <ion-header-bar align-title="center" class="top-menu-bg bar-positive">
            <h1 class="title">Side Menu</h1>
            <i class="icon icon-avionic coloroured"></i>
        </ion-header-bar>

        <ion-content class="top-menu dark has-header">
          <div class="list">
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home" nav-transition="none">
                  <i class="icon icon-avionic coloroured"></i>
                  Home
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.signup" nav-transition="none">
                  <i class="icon icon-register coloroured"></i>
                  Sign Up
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.login" nav-transition="none">
                  <i class="icon icon-login coloroured"></i>
                  Login
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.products" nav-transition="none">
                  <i class="icon icon-luggages coloroured"></i>
                  Products
              </a>
              <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.settings" nav-transition="none">
                  <i class="icon icon-settings coloroured"></i>
                  Settings
              </a>
          </div>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>
