<ion-view view-title="" hide-back-button="true">
  <ion-nav-bar class="bar-stable">
	  <ion-nav-buttons side="right">
	    <button class="button button-positive button-clear no-animation" ng-click="startApp()">Skip</button>
	  </ion-nav-buttons>
  </ion-nav-bar>
  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="true">
    <ion-slide class="intro col1 slider-bg">
      <figure>
        <figcaption class="intro-headings"><h2>{{ 'APP_INTRO_HEADER_SLIDE_1' | translate }}</h2>{{ 'APP_INTRO_CONTENT_SLIDE_1' | translate }}</figcaption>
      </figure>
      <button class="button button-clear button-block intro-footer" ng-click="next()">{{ 'APP_INTRO_CTA_BTN_SLIDE_1' | translate }}</button>
    </ion-slide>

    <ion-slide class="intro col2 slider-bg">
      <figure>
        <figcaption class="intro-headings"><h2>{{ 'APP_INTRO_HEADER_SLIDE_2' | translate }}</h2>{{ 'APP_INTRO_CONTENT_SLIDE_2' | translate }}</figcaption>
      </figure>
      <button class="button button-clear button-block intro-footer" ng-click="next()">{{ 'APP_INTRO_CTA_BTN_SLIDE_2' | translate }}</button>
    </ion-slide>

    <ion-slide class="intro col3 slider-bg">
      <figure>
        <figcaption class="intro-headings"><h2>{{ 'APP_INTRO_HEADER_SLIDE_3' | translate }}</h2>{{ 'APP_INTRO_CONTENT_SLIDE_3' | translate }}</figcaption>
      </figure>
      <button class="button button-clear button-block intro-footer" ng-click="next()">{{ 'APP_INTRO_CTA_BTN_SLIDE_3' | translate }}</button>
    </ion-slide>
    <ion-slide class="intro col4 slider-bg">
      <figure>
        <figcaption class="intro-headings"><h2>{{ 'APP_INTRO_HEADER_SLIDE_4' | translate }}</h2>{{ 'APP_INTRO_CONTENT_SLIDE_4' | translate }}</figcaption>
      </figure>
      <!-- <button class="button button-large button-positive button-intro-fb" ng-click="fbLoginCheck()">
        <span class="icon_height boxercise_facebook white"></span>
        <span class="icon_padding ">{{ 'APP_INTRO_CTA_BTN_FB_SLIDE_4' | translate }}</span>
      </button> -->
      <button class="button button-clear button-block intro-footer" ng-click="next()">{{ 'APP_INTRO_CTA_BTN_SLIDE_4' | translate }}</button>
    </ion-slide>
    <ion-slide class="intro col5 slider-bg">
      <figure>
        <figcaption class="intro-headings-5"><h2>{{ 'APP_INTRO_HEADER_SLIDE_5' | translate }}</h2>{{ 'APP_INTRO_CONTENT_SLIDE_5' | translate }}</figcaption>
      </figure>
      <form name="signupUserForm" class="avionic-intro" novalidate="novalidate">

        <div class="padding">
          <label>
            <input id="text" type="email" name="email" placeholder="{{'APP_SIGNUP_EMAIL' | translate }}" ng-model="user.username" ng-minlength="5" ng-maxlength="64" required="required">
          </label>

          <label>
              <input id="password" name="password" type="password" placeholder="{{ 'APP_SIGNUP_PASSWORD' | translate }}" ng-model="user.password" ng-minlength="5" ng-maxlength="30" required="required">
          </label>

          <div class="padding info">
            {{ 'APP_INTRO_CTA_TERMS_INTRO_SLIDE_5' | translate }} <a href="#">{{ 'APP_INTRO_CTA_TERMSCONDITIONS_SLIDE_5' | translate }}</a> {{ 'APP_INTRO_CTA_AND_SLIDE_5' | translate }} <a href="#">{{ 'APP_INTRO_CTA_PRIVACY_SLIDE_5' | translate }}</a>                        
          </div>
        </div>
      </form>

      <button class="button button-clear button-block intro-footer" ng-click="signupUser()">{{ 'APP_INTRO_CTA_BTN_SLIDE_5' | translate }}</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
