<ion-view title="{{ 'APP_CATALOGUE_NEW' | translate }}">
    <ion-content>
      <div>
        <ion-list>
            <li class="item item-input item-stacked-label">
                <textarea type="text" placeholder="Title..." name="content" rows="10" ng-model="item.title" required></textarea>
            </li>
            <ion-button class="button button-block button-positive" ng-click="create()">
                Add
            </ion-button>
        </ion-list>
    </div>
    </ion-content>
</ion-view>
