<ion-view hide-back-button="false" view-title="{{ 'APP_CATALOGUE_NEW' | translate }}">
  <ion-content class="radial has-header">
      <div>
        <ion-list>
            <li class="item item-input item-stacked-label">
                <textarea type="text" placeholder="Title..." name="content" rows="10" ng-model="item.title" required></textarea>
            </li>
            <ion-button class="button button-block button-clear" ng-click="create()">
                Add
            </ion-button>
        </ion-list>
    </div>
    </ion-content>
</ion-view>
