<ion-view hide-back-button="true" title="{{ 'APP_CATALOGUE' | translate }}">
  <ion-header-bar align-title="center" class="bar bar-header bar-positive ">
    <button ng-click="create()" class="button button-fab button-fab-bottom-right button-assertive icon ion-android-add waves-effect waves-button waves-light"></button>
    <!-- <button class="button button-icon icon ion-android-more-vertical flat" menu-toggle="right"></button> -->
    <!-- <button class="button button-fab button-fab-top-right button-assertive icon ion-android-add waves-effect waves-button waves-light ion-minus" ng-click="data.showDelete = !data.showDelete;"></button> -->
  </ion-header-bar>

  <ion-content class="content has-header">
    <ion-refresher pulling-text="{{ 'APP_REFRESH_TEXT' | translate }}" on-refresh="doRefresh()"></ion-refresher>

    <div class="loader" ng-if="!items">
      <ion-spinner></ion-spinner>
    </div>
  <ion-list show-delete="data.showDelete" can-swipe="listCanSwipe">
    <ion-item class="item item-thumbnail-left" ng-repeat="item in items | orderBy: 'title'" item="item" href="#/app/product/{{item.objectId}}">
      <img src="images/icon.png" />
      <h2>{{item.title}}</h2>
      <p>Product ID is #{{item.title}}</p>
      <p>Description of the product with the identifier of  #{{item.title}}</p>
      <ion-option-button class="button-info"
 ng-click="edit(item)">
      Edit
    </ion-option-button>
      <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)"></ion-delete-button>
    </ion-item>
  </ion-list>
</ion-content>
</ion-view>
