<ion-view hide-back-button="true" title="{{ 'APP_SETTINGS' | translate }}">
  <ion-content class="dark has-header">
    <div class="list">
      <a class="item item-icon-left  " ui-sref="app.intro" nav-transition="none">
          <i class="icon icon-avionic coloroured"></i>
          About
      </a>
      <a class="item item-icon-left  " ui-click="window.plugins.socialsharing.share('Message, subject, image and link', 'The subject', 'https://www.google.nl/images/srpr/logo4w.png', 'http://www.x-services.nl')" nav-transition="none">
          <i class="icon ion-share"></i>
          Tell your friends
      </a>
      <a class="item item-icon-left  " ui-sref="app.intro" nav-transition="none">
          <i class="icon ion-social-facebook"></i>
          Get in touch
      </a>
      <a class="item item-icon-left  " ui-sref="app.intro" nav-transition="none">
          <i class="icon ion-social-facebook"></i>
          Get in touch
      </a>
      <a class="item item-icon-left  " ui-sref="app.intro" nav-transition="none">
          <i class="icon ion-star"></i>
          Rate in App Store
      </a>
      <a class="item item-icon-left" ng-click="openIntro()" nav-transition="none">
          <i class="icon ion-refresh"></i>
          Replay Introduction
      </a>
      <a class="item item-icon-left" ng-click="loginFacebook()">
        <i class="icon ion-social-facebook"></i>
        {{ 'APP_LOGIN_CTA_FACEBOOK' | translate }}
      </a>
      <a class="item item-icon-left" ng-click="loginGoogle()">
        <i class="icon ion-social-googleplus"></i>
        {{ 'APP_LOGIN_CTA_GOOGLE' | translate }}
      </a>
      <a class="item item-icon-left" ng-click="loginTwitter()">
        <i class="icon ion-social-twitter"></i>
        {{ 'APP_LOGIN_CTA_TWITTER' | translate }}
      </a>
    </div>
  </ion-content>
</ion-view>
