<ion-view hide-back-button="true" title="{{ 'APP_NAME' | translate }}">
<ion-content scroll="false" class="background content has-header">
  <form role="form">
    <div class="padding">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input id="username" type="text" placeholder="username" ng-model="user.username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input id="password" type="password" placeholder="password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input id="password" type="email" placeholder="password" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input id="password" type="text" placeholder="password" ng-model="user.first_name">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input id="password" type="text" placeholder="password" ng-model="user.last_name">
      </label>
      <label class="item item-input">
        <span class="input-label">Phone Number</span>
        <input id="password" type="text" placeholder="password" ng-model="user.phone_number">
      </label>
    </div>
    <div class="padding">
      <button class="button button-block" ng-click="signupUser()">Sign Up!</button>
    </div>
  </form>
</ion-content>
</ion-view>
