<ion-view hide-back-button="true" title="{{ 'APP_NAME' | translate }}">
  <ion-content scroll="false" class="background content has-header">
    <div class="padding">
      <form role="form">
        <ion-list>
          <label class="item item-input">
            <label for="username">Username:</label>
            <input id="username" type="text" class="form-control" placeholder="username" ng-model="user.username">
          </label>
          <label class="item item-input">
            <label for="password">Password:</label>
            <input id="password" type="password" class="form-control" placeholder="password" ng-model="user.password">
          </label>
        </ion-list>
        <button class="btn btn-large btn-primary" ng-click="loginUser()">Login</button>
        <button class="btn btn-large btn-primary" ng-click="signupUser()">Sign Up!</button>
      </form>
    </div>
  </ion-content>
</ion-view>
