/**
*
*  AVIONIC
*  Propelling World-class Cross-platform Hybrid Applications ✈ ✈
*
*  Copyright 2015 Reedia Limited. All rights reserved.
*
*  Permission is hereby granted, free of charge, to any person obtaining a copy
*  of this software and associated documentation files (the "Software"), to deal
*  in the Software without restriction, including without limitation the rights
*  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
*  copies of the Software, and to permit persons to whom the Software is
*  furnished to do so, subject to the following conditions:
*
*  The above copyright notice and this permission notice shall be included in
*  all copies or substantial portions of the Software.

*  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
*  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
*  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
*  THE SOFTWARE.
*
*/
@charset 'UTF-8';

$golden-ratio: 1.618033988749 !default; // Golden ratio

// Default configuration settings
$base-font-size	:17px;
$line-height	:26px;
$line-height-ratio  : 1.75 !default;

// font stacks
$font-stack-regular:'Aleo';

// color stacks
$colorblack:#212121;
$colorgray:#666;
$colorwhite:#fff;
$colorred:#f44336;
$colordarkred:#28294e;
$colorpink:#ff4081;
$colororange:#ff9800;
$coloryellow:#fdd835;
$colorblue:#0d47a1;
$colorgreen:#4caf50;
$colorpurple:#9c27b0;
$colorlightgreen:#42c5a5;
$colorIcons: #000006;



.coloroured {
  color:$colorIcons;
}

.active .coloroured {
  color:#d1ccf4;
}


// spacings
$tiny-value				     : 5px; // tiny value for margins / paddings
$small-value			     : 10px; // small value for margins / paddings
$medium-value			     : 20px; // medium value for margins / paddings
$large-value			     : 40px; // large value for margins / paddings
$extra-large-value		 : 80px; // extra large value for margins / paddings
$ultra-large-value		 : 160px; // ultra large value for margins / paddings
