@charset 'UTF-8';

$golden-ratio: 1.618033988749 !default; // Golden ratio

// Default configuration settings
$base-font-size	:17px;
$line-height	:26px;
$line-height-ratio  : 1.75 !default;

// font stacks
$font-stack-regular:'Aleo';

// color stacks
$colorblack:#212121;
$colorgray:#666;
$colorwhite:#fff;
$colorred:#f44336;
$colordarkred:#28294e;
$colorpink:#ff4081;
$colororange:#ff9800;
$coloryellow:#fdd835;
$colorblue:#0d47a1;
$colorgreen:#4caf50;
$colorpurple:#9c27b0;
$colorlightgreen:#42c5a5;
$colorIcons: #000006;



.coloroured {
  color:$colorIcons;
}

.active .coloroured {
  color:#d1ccf4;
}


// spacings
$tiny-value				     : 5px; // tiny value for margins / paddings
$small-value			     : 10px; // small value for margins / paddings
$medium-value			     : 20px; // medium value for margins / paddings
$large-value			     : 40px; // large value for margins / paddings
$extra-large-value		 : 80px; // extra large value for margins / paddings
$ultra-large-value		 : 160px; // ultra large value for margins / paddings
