@charset 'UTF-8';

$FontPath: "../fonts" !default;
$FontName: "aleo" !default;
$FontVersion: "1.2.2" !default;

/* Regular */
@font-face {
    font-family: $FontName;
    @include font($FontPath, $FontVersion, "regular");
    font-weight: 400;
}

/* Light */
@font-face {
    font-family: $FontName;
    @include font($FontPath, $FontVersion, "light");
    font-weight: 200;
}

/* Bold */
@font-face {
    font-family: $FontName;
    @include font($FontPath, $FontVersion, "bold");
    font-weight: 700;
}
