/**
*
*  AVIONIC
*  Propelling World-class Cross-platform Hybrid Applications ✈
*
*  Copyright 2015 Reedia Limited. All rights reserved.
*
*  Permission is hereby granted, free of charge, to any person obtaining a copy
*  of this software and associated documentation files (the "Software"), to deal
*  in the Software without restriction, including without limitation the rights
*  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
*  copies of the Software, and to permit persons to whom the Software is
*  furnished to do so, subject to the following conditions:
*
*  The above copyright notice and this permission notice shall be included in
*  all copies or substantial portions of the Software.

*  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
*  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
*  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
*  THE SOFTWARE.
*
*/
@charset 'UTF-8';

.social-btn {
      min-height: 60px;
      display: inline-block;
      margin-bottom: 0;
      font-weight: 400;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      background-image: none;
      border: 1px solid transparent;
      white-space: nowrap;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      @include border-radius(4px);
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none
}
.social-btn.active:focus,
.social-btn:active:focus,
.social-btn:focus {
    outline: dotted thin;
    outline: -webkit-focus-ring-color auto 5px;
    outline-offset: -2px
}
.social-btn:focus,
.social-btn:hover {
    color: #333;
    text-decoration: none
}
.social-btn.active,
.social-btn:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
}
.social-btn.disabled,
.social-btn[disabled],
fieldset[disabled] .social-btn {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none
}
a.social-btn,
a.social-btn:link,
a.social-btn:visited,
a .social-btn:active,
a .social-btn:hover {
    text-decoration: none
}

.social-btn-avionic-light {
    background: #ffffff;
    border:1px solid $color-900 !important;
    border-radius: 0;
    color: $color-900 !important;
    text-align: center;
}
.social-btn-avionic-light:link, .social-btn-avionic-light:visited {
    color: $color-900 !important;
}
.social-btn-avionic-light:active, .social-btn-avionic-light:hover {
    background: $color-300;
    color: #fff !important;
}


.social-btn-avionic {
    background: $color-900;
    border-radius: 0;
    color: #fff !important;
}
.social-btn-avionic:link, .social-btn-avionic:visited {
    color: #fff
}
.social-btn-avionic:active, .social-btn-avionic:hover {
    background: $color-700;
    color: #fff !important;
}

.social-btn-twitter {
    background: #0087bd;
    border-radius: 0;
    color: #fff !important;
}
.social-btn-twitter:link, .social-btn-twitter:visited {
    color: #fff
}
.social-btn-twitter:active, .social-btn-twitter:hover {
    background: #00aced;
    color: #fff !important;
}
.social-btn-facebook {
    background: #30477a;
    border-radius: 0;
    color: #fff !important;
}
.social-btn-facebook:link, .social-btn-facebook:visited {
    color: #fff !important;
}
.social-btn-facebook:active, .social-btn-facebook:hover {
    background: #3b5998;
    color: #fff !important;
}
.social-btn-googleplus {
    background: #ba3225;
    border-radius: 0;
    color: #fff !important;
}
.social-btn-googleplus:link, .social-btn-googleplus:visited {
    color: #fff !important;
}
.social-btn-googleplus:active, .social-btn-googleplus:hover {
    background: #cd201f;
    color: #fff !important;
}
.social-btn-linkedin {
    background: #0b6087;
    border-radius: 0;
    color: #fff !important;
}
.social-btn-linkedin:link, .social-btn-linkedin:visited {
    color: #fff !important;
}
.social-btn-linkedin:active, .social-btn-linkedin:hover {
    background: #0e76a8;
    color: #fff !important;
}
.social-btn-email {
    background: #000;
    border-radius: 0;
    color: #fff !important;
}
.social-btn-email:link, .social-btn-email:visited {
    color: #fff !important;
}
.social-btn-email:active, .social-btn-email:hover {
    background: #111;
    color: #fff !important;
}
