/**
*
*  AVIONIC
*  Propelling World-class Cross-platform Hybrid Applications ✈
*
*  Copyright 2015 Reedia Limited. All rights reserved.
*
*  Permission is hereby granted, free of charge, to any person obtaining a copy
*  of this software and associated documentation files (the "Software"), to deal
*  in the Software without restriction, including without limitation the rights
*  to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
*  copies of the Software, and to permit persons to whom the Software is
*  furnished to do so, subject to the following conditions:
*
*  The above copyright notice and this permission notice shall be included in
*  all copies or substantial portions of the Software.

*  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
*  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
*  FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
*  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
*  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
*  OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
*  THE SOFTWARE.
*
*/
@charset 'UTF-8';

input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea,
select {
    position: relative;
    box-sizing: border-box;
    width: 100% !important;
    height: 38px;
    min-height: 60px !important;
    padding: 6px 10px;
    letter-spacing: .825px;
    border: 1px solid $color-50;
    background-color: #fff;
    box-shadow: none;
    @include border-radius(4px);
}
input[type='email'],
input[type='number'],
input[type='search'],
input[type='text'],
input[type='tel'],
input[type='url'],
input[type='password'],
textarea {
    @include appearance(none);
}
textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}
input[type='email']:focus,
input[type='number']:focus,
input[type='search']:focus,
input[type='text']:focus,
input[type='tel']:focus,
input[type='url']:focus,
input[type='password']:focus,
textarea:focus,
select:focus {
    border: 1px solid $color-900;
    outline: 0;
}
input,
input[type='text'],
input[type='password'],
input[type='file'],
input[type='email'],
textarea {
    &:hover, &:focus, &:active {
        background: #f8f8f8;
    }
}
select {
    &:hover, &:focus, &:active {
        background: $color-50;
    }
}
label,
legend {
    font-weight: 600;
    display: block;
    margin-bottom: .5rem;
}
fieldset {
    padding: 0;
    border-width: 0;
}
input[type='file'],
select {
    cursor: pointer;
    cursor: hand;
}
input[type='checkbox'],
input[type='radio'] {
    display: inline;
}
label > .label-body {
    font-weight: normal;
    display: inline-block;
    margin-left: .5rem;
}
