<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta name="format-detection" content="telephone=no">

    <title><%= title %></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    
    <!-- inject:app-styles:css --><!-- endinject -->

  </head>

  <body ng-app="<%= ngModulName %>">
    <ion-nav-view></ion-nav-view>

    <!-- inject:vendor:js --><!-- endinject -->
    <!-- inject:app:js --><!-- endinject -->

    <script src="cordova.js"></script>

  </body>
</html>
