<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <meta http-equiv="Content-Security-Policy" content="script-src * 'unsafe-eval'; connect-src * 'unsafe-eval'; object-src 'self'; style-src * 'unsafe-inline'; img-src *">
    <meta name="format-detection" content="telephone=no">
    <meta name="description" content="<%= description %>">
    <meta name="keywords" content="<%= keywords %>">
    <meta name="author" content="<%= author %>">

      <title><%= ngModulName %></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- inject:app-styles:css --><!-- endinject -->

  </head>

  <body ng-app="<%= ngModulName %>">
    <ion-nav-view></ion-nav-view>

    <!-- inject:vendor:js --><!-- endinject -->
    <!-- inject:app:js --><!-- endinject -->

    <script src="cordova.js"></script>

  </body>
</html>
