<ion-view hide-back-button="true" title="{{ 'APP_NAME' | translate }}">
    <ion-content scroll="false" class="background content has-header">    
        <div class="list padding">
            <input placeholder="Username" highlight-color="balanced" type="text"></input>
            <input placeholder="Password" highlight-color="energized" type="password"></input>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full">Login</button>
        </div>
        <div class="button-bar social-login">
          <a class="item item-icon-left" ui-sref-active="active" ng-click="loginFacebook()">
              <i class="icon ion-social-facebook coloroured"></i>
              Facebook
          </a>
          <a class="item item-icon-left" ui-sref-active="active" ng-click="loginGoogle()">
              <i class="icon ion-social-googleplus coloroured"></i>
              Google+
          </a>
          <a class="item item-icon-left" ui-sref-active="active" ng-click="loginTwitter()">
              <i class="icon ion-social-twitter coloroured"></i>
              Twitter
          </a>
        </div>
    </ion-content>
</ion-view>
